tmp/*
!tmp/.gitkeep
.idea
.vscode
apirome/version_4_0/data/listmetierdetail/*
apirome/version_4_0/data/listmetiersummary/*
!apirome/version_4_0/data/docapi
!apirome/version_4_0/data/listmetierdetail/.gitkeep
!apirome/version_4_0/data/listmetiersummary/.gitkeep

