tmp/*
!tmp/.gitkeep
.idea
.vscode
/internal/insee/token.go

cli/data/rncp/data-xml/*
cli/data/rncp/data-json/*
cli/data/rncp/log/*
!cli/data/rncp/data-xml/.gitkeep
!cli/data/rncp/data-json/.gitkeep
!cli/data/rncp/log/.gitkeep

cli/data/apirome/list-competence-complet/*
cli/data/apirome/list-competence-summary/*
cli/data/apirome/list-metier-detail/*
cli/data/apirome/list-metier-summary/*
cli/data/apirome/log/*
!cli/data/apirome/list-competence-complet/.gitkeep
!cli/data/apirome/list-competence-summary/.gitkeep
!cli/data/apirome/list-metier-detail/.gitkeep
!cli/data/apirome/list-metier-summary/.gitkeep
!cli/data/apirome/log/.gitkeep

apirome/rncp/data/*
!apirome/rncp/data/.gitkeep
apirome/version_4_0/data/listmetierdetail/*
apirome/version_4_0/data/listmetiersummary/*
apirome/version_4_0/data/listcompetence/*
apirome/version_4_0/data/listcompetencecomplet/*
!apirome/version_4_0/data/docapi
!apirome/version_4_0/data/listmetierdetail/.gitkeep
!apirome/version_4_0/data/listmetiersummary/.gitkeep
!apirome/version_4_0/data/listcompetence/.gitkeep
!apirome/version_4_0/data/listcompetencecomplet/.gitkeep
/internal/insee/token.txt