<div class="relative w-full">
  <!-- Prefix -->
  @if (hasPrefix()) {
    <span class="absolute inset-y-0 left-0 flex items-center"
          [class]="prefixWrapperPad()">
          <ng-content select="[cInputPrefix]"></ng-content>
        </span>
  }

  <input
    [type]="type()"
    [placeholder]="placeholder()"
    [class]="classes()"
    [disabled]="disabled()"
    [ngModel]="value()"
    (ngModelChange)="value.set($event)"
    [attr.aria-invalid]="invalid() || null"
  />

  <!-- Suffix -->
  @if (hasSuffix()) {
    <span class="absolute inset-y-0 right-0 flex items-center"
          [class]="suffixWrapperPad()">
          <ng-content select="[cInputSuffix]"></ng-content>
        </span>
  }
</div>
